---
layout: default
permalink: /projects/
title: Projects
seo_title: Completed Projects
description: Saif Khan's portfolio includes everything from mobile apps and games, to websites and desktop software. Learn more about these projects here.
keywords: projects, saif khan, software, apps, games, websites, mobile, desktop
drawer: true
---

<style>
  .bottom-navigation {
    background: var(--mdc-theme-surface);
    -moz-box-shadow: 0px 0px 0px var(--mdc-theme-shadow);
    -webkit-box-shadow: 0px 0px 0px var(--mdc-theme-shadow);
    box-shadow: 0px 0px 0px var(--mdc-theme-shadow);
    display: block;
    position: static;
    width: 100%;
    height: 48px;
  }

  @media screen and (max-width: 840px) {
    .bottom-navigation {
      margin-top: -52px;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
    }
  }

  .hire-callout {
    background: var(--mdc-theme-overlay);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
  }

  .hire-callout img {
    width: 100%;
    height: auto;
  }
</style>

<div class="c-minor-r hide-when-small">
  <header>
    <!-- Page Title and Description -->
    <section>
      <p>
        This page provides a current list of my completed <b>programming projects</b>. These include mobile apps, games, websites, desktop software, and more. You might also be interested in my <a href="/research/">research work</a>.<br>
        <br>
        Use the filters below to search for projects by platform and type.
      </p>
    </section>

    <section>
      <div class="callout hire-callout">
        <img alt="Open for work" src="{{ site.baseurl }}/assets/images/open-for-work.png" />
        <p>Have a project that needs to be done?<br>
          <small>Do you have a question, feedback or a comment?</small>
        </p>
        <div>
          <a class="mdc-button mdc-button--unelevated" href="/contact/" style="background-color: #f28faa !important;">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label" style="text-transform: none; color: black !important;">Talk to Me</span>
          </a>
        </div>
      </div>
    </section>
  </header>

  {% include widget_feedback.html %}
</div>

<div class="c-major">
  <div class="mdc-tab-bar bottom-navigation" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content">

          <button class="mdc-tab mdc-tab--active" data-filter=".app" role="0" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">apps</span>
              <span class="mdc-tab__text-label">Apps</span>
            </span>
            <span class="mdc-tab-indicator mdc-tab-indicator--active">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>

          <button class="mdc-tab" data-filter=".game" role="1" aria-selected="true">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">games</span>
              <span class="mdc-tab__text-label">Games</span>
            </span>
            <span class="mdc-tab-indicator mdc-tab-indicator">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>

          <button class="mdc-tab" data-filter=".api" role="2" aria-selected="true">
            <span class="mdc-tab__content">
              <span class="mdc-tab__icon material-icons" aria-hidden="true">code</span>
              <span class="mdc-tab__text-label">Tools</span>
            </span>
            <span class="mdc-tab-indicator mdc-tab-indicator">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <section class="portfolio" id="portfolio">
    <!-- Filters -->
    <div class="mdc-chip-set mdc-chip-set--choice filters portfolio-filter" role="grid">
      <div class="mdc-chip active" role="row" data-filter=".all">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" tabindex="0" class="mdc-chip__text">all platforms</span>
        </span>
      </div>
      <div class="mdc-chip" role="row" data-filter=".mobile">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" tabindex="0" class="mdc-chip__text">mobile</span>
        </span>
      </div>
      <div class="mdc-chip" role="row" data-filter=".desktop">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" class="mdc-chip__text">desktop</span>
        </span>
      </div>
      <div class="mdc-chip" role="row" data-filter=".web">
        <div class="mdc-chip__ripple"></div>
        <span role="gridcell">
          <span role="button" class="mdc-chip__text">web</span>
        </span>
      </div>
    </div>

    <!-- Apps -->
    <section>
      <div class="grid filters-content">
        <a href="/projects/acacia-joinery/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/acacia-joinery-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Acacia Joinery</strong>
            <small>Productivity</small>
          </div>
        </a>

        <a href="/projects/adt-simulator/" class="portfolio-item all app desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/adt-simulator-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>ADT Simulator</strong>
            <small>Educational</small>
          </div>
        </a>

        <a href="/projects/authentica/" class="portfolio-item all app mobile desktop web">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/authentica-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Authentica</strong>
            <small>Tools</small>
          </div>
        </a>

        <a href="/projects/cafe-manager/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/cafe-manager-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Café Manager</strong>
            <small>Food</small>
          </div>
        </a>

        <a href="/projects/connect/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/connect-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Connect</strong>
            <small>Communication</small>
          </div>
        </a>

        <a href="/projects/cygnus/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/cygnus-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Cygnus</strong>
            <small>Educational</small>
          </div>
        </a>

        <a href="/projects/doodle/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/doodle-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Doodle</strong>
            <small>Creativity</small>
          </div>
        </a>

        <a href="/projects/iprd-geotag/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/iprd-geotag-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>IPRD Geotag</strong>
            <small>Productivity</small>
          </div>
        </a>

        <a href="/projects/lexiconic/" class="portfolio-item all app desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/lexiconic-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Lexiconic</strong>
            <small>Educational</small>
          </div>
        </a>

        <a href="/projects/recatalyst/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/recatalyst-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>RECatalyst</strong>
            <small>Productivity</small>
          </div>
        </a>

        <a href="/projects/scanner/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/scanner-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Scanner</strong>
            <small>Productivity</small>
          </div>
        </a>

        <!-- <a href="/projects/servus/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/servus-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Servus</strong>
            <small>Educational</small>
          </div>
        </a> -->

        <a href="/projects/tasbih/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/tasbih-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Tasbih</strong>
            <small>Productivity</small>
          </div>
        </a>

        <a href="/projects/transitus/" class="portfolio-item all app mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/transitus-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Transitus</strong>
            <small>Educational</small>
          </div>
        </a>

        <a href="/projects/vread/" class="portfolio-item all app web">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/vread-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>vRead</strong>
            <small>Social</small>
          </div>
        </a>

      </div>
    </section>

    <!-- Games -->
    <section>
      <div class="grid filters-content">

        <a href="/projects/bouncy/" class="portfolio-item all game mobile desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/bouncy-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Bouncy</strong>
            <small>Game</small>
          </div>
        </a>

        <a href="/projects/dodge/" class="portfolio-item all game mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/dodge-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Dodge</strong>
            <small>Game</small>
          </div>
        </a>

        <a href="/projects/hangman/" class="portfolio-item all game mobile desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/hangman-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Hangman</strong>
            <small>Classic Game</small>
          </div>
        </a>

        <a href="/projects/huntrek/" class="portfolio-item all game mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/huntrek-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>HunTrek</strong>
            <small>AR Quest</small>
          </div>
        </a>

        <a href="/projects/jungle-run/" class="portfolio-item all game mobile desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/jungle-run-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Jungle Run</strong>
            <small>2D Platformer</small>
          </div>
        </a>

        <a href="/projects/moksha/" class="portfolio-item all game mobile desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/moksha-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Moksha</strong>
            <small>Board Game</small>
          </div>
        </a>

        <a href="/projects/poppit/" class="portfolio-item all game mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/poppit-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Poppit</strong>
            <small>Arcade</small>
          </div>
        </a>

        <a href="/projects/quest/" class="portfolio-item all game mobile desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/quest-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Quest</strong>
            <small>Board</small>
          </div>
        </a>

        <a href="/projects/space-shooter/" class="portfolio-item all game desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/space-shooter-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Space Shooter</strong>
            <small>Arcade</small>
          </div>
        </a>

        <a href="/projects/university-run/" class="portfolio-item all game desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/university-run-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>University Run</strong>
            <small>2D Infinite Runner</small>
          </div>
        </a>

      </div>
    </section>

    <!-- APIs -->
    <section>
      <div class="grid filters-content">
        <a href="/projects/droid-rest/" class="portfolio-item all api mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/droid-rest-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>DroidREST</strong>
            <small>REST API</small>
          </div>
        </a>

        <a href="/projects/game-core/" class="portfolio-item all api mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/game-core-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Game Core</strong>
            <small>Game API</small>
          </div>
        </a>

        <a href="/projects/scribe/" class="portfolio-item all api mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/scribe-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Scribe</strong>
            <small>Write PDFs</small>
          </div>
        </a>

        <a href="/projects/smartgl/" class="portfolio-item all api desktop">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/smartgl-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>SmartGL</strong>
            <small>Graphics API</small>
          </div>
        </a>

        <a href="/projects/tiled/" class="portfolio-item all api mobile">
          <div class="mdc-card no-spacing">
            <div class="project-icon mdc-card__primary-action">
              <div class="mdc-card__media mdc-card__media--square" style="background: url('/assets/images/projects/tiled-logo.png') center center no-repeat; background-size: cover;">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <div class="project-details">
            <strong>Tiled</strong>
            <small>Easy Tilemaps</small>
          </div>
        </a>

      </div>
    </section>
  </section>

  <section id="services">
    <!-- Services -->
    
    <br>
    {% assign services = site.services | size %}
    {% if services > 0 %}
    <p>
      I can help! Learn more about the services I offer and <a href="/contact/">contact me</a> with your project requirements to get a quote.
    </p>
    <div class="mdc-layout-grid no-spacing">
      <div class="mdc-layout-grid__inner">
        {% for service in site.services %}
        <div class="mdc-layout-grid__cell mdc-card mdc-card--outlined service-item">
          <span class="material-icons">{{ service.icon }}</span>
          <h2>{{ service.title }}</h2>
          <p>{{ service.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </section>

  <section>
    <p>
      To pay for a completed service, you can either send the invoice amount on <a href="https://www.paypal.com/paypalme/saifkhichi06" target="_blank">PayPal</a> or use <a href="/payments/">this checkout page</a>.
    </p>
  </section>
</div>

<!-- Page specific scripts -->
<script async src="{{ site.baseurl }}/assets/vendors/isotope/isotope-min.js"></script>
<script async src="{{ site.baseurl }}/assets/scripts/projects.js"></script>
