---
layout: default
permalink: /research/
title: Research
drawer: true
description: Research work of Muhammad Saif Ullah KHAN, including publications and projects in Machine Learning, Computer Vision and Pattern Recognition.
---


<style>
  .c-major-r h2 {
    font-size: 16pt;
    text-transform: none;
    font-weight: 800;
  }

  .mdc-list-item__text:hover {
    background: none;
  }

</style>

<!-- Page Content -->
<div class="c-major-r">
  {% assign research_by_date = site.research | sort: "date" | reverse %}
  <ul class="mdc-list mdc-list--two-line">
    {% for item in research_by_date %}
    <li class="mdc-list-item" style="padding: 8px; border-radius: 8px;">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">
          <a style="color: var(--mdc-theme-on-surface);" href="{{ item.url }}">
            <h2 style="display: inline;">{{ item.title }} <span class="material-icons" style="font-size: 16px; line-height: 16px;">open_in_new</span></h2>
          </a>
          <span class="mdc-list-item__secondary-text">{{ item.authors }} &nbsp;({{ item.date | date: "%Y" }})</span>
        </span>
        <br>
        <i>{{ item.description }}</i>
      </span>
      <br>
      <br>
      <hr style="border: dashed 1px silver;">
    </li>
    <br>
    {% endfor %}
  </ul>
</div>

<aside class="c-minor">
  <section class="mdc-card mdc-card--outlined">
    <div class="mdc-card__content">
      <h2>Datasets</h2>
      {% assign datasets_by_date = site.datasets | sort: "date" | reverse %}
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          {% for item in datasets_by_date %}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
            <p><a href="{{ item.url }}">{{ item.title }} ({{ item.date | date: "%Y"}})</a></p>
            {% assign categories = item.category | shift %}
            {% for category in categories %}<span class="project-tag" style="word-wrap: break-word;">{{ category | replace: ",", "" }}</span> &nbsp;{% endfor %}
            <hr class="small" style="border: dashed 1px silver;">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <a class="mdc-button mdc-card__action mdc-card__action--button" href="datasets/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all datasets</span>
        </a>
      </div>
    </div>
  </section>

  {% include widget_feedback.html %}
</aside>
