---
layout: default
permalink: /research/
title: Research
seo_title: Research Work
drawer: true
description: Saif Khan is a computer scientist working in field of machine learning, computer vision and pattern recognition. This page lists his research and publications.
keywords: research, saif khan, publications, machine learning, computer vision, pattern recognition
---


<style>
  .c-major-r h2 {
    font-size: 16pt;
    text-transform: none;
    font-weight: 800;
  }

  .mdc-list-item__text:hover {
    background: none;
  }

</style>

<!-- Page Content -->
<div class="c-major-r">
  {% include list_research.html %}
</div>

<aside class="c-minor">
  <p><br /></p>

  <div class="research-interests">
    <h2>Research Interests</h2>
    <p>My research interests include a wide range of topics in machine learning, computer vision, and pattern recognition. Some of the areas I am currently working on are:</p>
    <ul>
      <li>Multimodal Learning and LLMs</li>
      <li>Human Motion Models</li>
      <li>Neural Network Optimization</li>
      <li>AI on Edge Devices</li>
    </ul>

    <p>In the past, I have also worked with the following topics:</p>
    <ul>
      <li>3D Reconstruction</li>
      <li>Behavioral Biometrics</li>
    </ul>
  </div>

  <p>Last updated on {{ site.time | date: "%B %d, %Y" }}. For a complete list of my publications, please visit my <a href="https://scholar.google.com/citations?user=HzyC1ysAAAAJ&hl=en">Google Scholar</a> profile.</p>

  {% include widget_feedback.html %}
</aside>
