---
layout: default
title: Home
seo_title: Portfilio Home
description: "Saif Khan is a software engineer and AI researcher. This is a personal blog and work portfolio containing all their projects, research and other work history."
keywords: portfolio, saif khan, software engineer, researcher, projects
drawer: true
github_stats: true
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Muhammad Saif Ullah Khan",
    "givenName": "Muhammad Saif Ullah",
    "familyName": "Khan",
    "alternateName": "Saif Khan",
    "gender": "Male",
    "nationality": "PK",
    "image": "https://www.saifkhichi.com/assets/images/me.jpg",
    "url": "https://www.saifkhichi.com/",
    "jobTitle": "Software Engineer",
    "affiliation": {
      "@type": "Organization",
      "name": "Aspirasoft Technologies",
      "sameAs": [
        "https://aspirasoft.dev/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "National University of Sciences & Technology (NUST)",
      "sameAs": [
        "https://nust.edu.pk/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "Technical University of Kaiserslautern (TUK)",
      "sameAs": [
        "https://www.uni-kl.de/"
      ]
    },
    "worksFor": {
      "@type": "Organization",
      "name": "German Research Centre for Artificial Intelligence (DFKI)",
      "sameAs": [
        "https://www.dfki.de/"
      ]
    },
    "sameAs": [
      "https://saifkhichi.com/resume/",
      "https://scholar.google.com/citations?user=HzyC1ysAAAAJ",
      "https://www.researchgate.net/profile/Muhammad-Saif-Ullah-Khan",
      "https://youtube.com//channel/UCj4yPuKHi9pZ9WbKbfh5MEQ",
      "https://play.google.com/store/apps/dev?id=7722501168179136426",
      "https://stackoverflow.com/users/4690466/",
      "https://www.linkedin.com/in/saifkhichi96",
      "https://github.com/saifkhichi96"
    ]
  }

</script>

<style>
  .mdc-list-item {
    height: auto;
    padding: 8px 4px;
    border-radius: 8px;
  }

  .mdc-list-item__text:hover {
    background: none;
  }

  .mdc-list-item__secondary-text {
    position: relative !important;
    top: -8px !important;
  }

  pwa-install {
    display: block;
  }

  .main-content article {
    position: relative;
  }

  .main-content header section {
    margin: 0;
  }

  .no-hover:hover {
    cursor: default;
  }
</style>

<div class="c-major-r">
  <!-- Business Card -->
  <div class="mdc-card mdc-card--outlined">
    <div class="mdc-card__content">
      <div class="business-card">
        <div class="info-grid">
          <div class="name">{{ site.data.profile.primary_name }}</div>
          <div class="description">
            <div class="text-profile-position">
              {% for position in site.data.profile.positions %}
              {% if position.logo -%}
              <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge" />
              {%- endif %}
              {{ position.name }}<br />
              {% endfor %}
            </div>
            <hr class="small" />
            <div class="text-profile-bio mt-3" {% if site.data.profile.short_bio_text_justify
              %}style="text-align: justify;" {% endif %}>
              {{ site.data.profile.short_bio }}
            </div>
            {% if site.data.profile.cv_link %}
            <a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i>
              Curriculum Vitae</a> <br />
            {% endif %}
          </div>
        </div>
        <div class="logo"></div>
      </div>
      <div class="row">
        <div class="col">
          <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}">
            <i class="fas fa-at"></i> <span class="email-text">{{ site.data.profile.email | replace: "@", "(at)"
              }}</span>
          </a>

          {% if site.data.profile.gscholar %}
          {%- if site.data.profile.gscholar contains 'scholar.google' -%}
          {%- assign gscholar_url = site.data.profile.gscholar -%}
          {%- else -%}
          {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append:
          site.data.profile.gscholar -%}
          {%- endif -%}
          <a class="pr-3 no-break" target="_blank" href="{{ gscholar_url }}">
            <i class="fa-brands fa-google-scholar"></i> Google Scholar
          </a>
          {% endif %}

          {% if site.data.profile.github %}
          <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
            <i class="fab fa-github"></i> GitHub
          </a>
          {% endif %}

          {% if site.data.profile.twitter %}
          <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
            <i class="fab fa-twitter"></i> Twitter
          </a>
          {% endif %}

          {% if site.data.profile.linkedin %}
          <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          {% endif %}

          {% if site.data.profile.orcid %}
          <a class="pr-3 no-break" target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">
            <i class="fab fa-orcid"></i> ORCID
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- News -->
  {% if site.data.display.homepage.show_news %}
  {% assign count_news = site.news | size %}
  {% if count_news > 0 %}
  {% include widgets/news_card.html limit=site.data.display.homepage.num_news %}
  {% endif %}
  {% endif %}

  <!-- Research Work -->
  <section>
    <h2>Recent Publications</h2>
    <p></p>
    {% assign research = site.research | sort: "date" | reverse %}
    <div class="mdc-layout-grid no-spacing">
      <div class="mdc-layout-grid__inner">
        {% for item in research limit: 5 %}
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 publication-details">
          <div class="publication-tags">
            {% assign categories = item.categories %}
            {% for category in categories %}
            <span class="publication-tag {% if forloop.first %}primary{% endif %}">{{ category | replace: ",", ""
              }}</span>
            {% endfor %}
          </div>
          {% assign authors = item.authors | split: ',' %}
          <p class="publication-description">
            {% assign equal_contribution = false %}
            {% for author in authors %}
            {% assign last_name = author | split: ' ' | last %}
            {% assign all_names = author | split: ' ' %}

            <!-- For each name except the last, get the initial and add to an "initials" variable -->
            {% assign initials = "" %}
            {% for name in all_names %}
            {% unless forloop.last %}
            {% assign initial = name | slice: 0, 1 %}
            {% assign initials = initials | append: ' ' | append: initial | append: "." %}
            {% endunless %}
            {% endfor %}

            <!-- If there is more than one author, add a comma after the last name -->
            {% unless forloop.last %}
            {% assign last_name = last_name | append: "," %}
            {% endunless %}

            <!-- Check for equal contribution marker -->
            {% assign contribution = "" %}
            {% if author contains '*' %}
            {% assign equal_contribution = true %}
            {% assign last_name = last_name | replace: '*', '' %}
            {% assign contribution = '*' %}
            {% endif %}

            <!-- Print the author's name -->
            {% if last_name == "Khan," and initials == " M. S. U." %}
            <span class="highlighted-text">
              {% else %}
              <span>
                {% endif %}
                {{ last_name }}{{ initials }}{{ contribution }}{% unless forloop.last %}, {% endunless %}
              </span>
              {% endfor %}
              ({{ item.date | date: "%Y" }}).
              <a href="{{ item.url | relative_url }}" class="publication-link">{{ item.title }}</a>.
              {% if equal_contribution %}(* Equal contribution.){% endif %}
          </p>
          <div class="mdc-list-divider mb-0"></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <p style="color: var(--mdc-theme-on-surface)">Showing 5 of {{ research | size }} publications.</p>
        <button class="mdc-button mdc-card__action mdc-card__action--button"
          onclick="window.location.href='/research/'">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all</span>
        </button>
      </div>
    </div>
  </section>

  <section>
    {% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
    {% endif %}
  </section>
</div>

<div class="c-minor">
  <section>
    <h2>Developer Profile</h2>
    <p>
      I love building software and AI systems to solve real-world problems. Experienced in web/mobile apps, machine
      learning, and cloud services. Open-source advocate.
    </p>

    <!-- Contributions widget -->
    <p>
      {% include widget_github.html %}
    </p>

    <!-- GitHub -->
    <h3>Open Source Contribution</h3>
    <p>
      Here are some of my most popular GitHub repositories:
    </p>

    <ul class="mdc-list mdc-list--two-line">
      {% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
      {% for repo in repos limit:5 %}
      {% unless repo.name == site.github.owner.login %}
      {% unless repo.name == site.github.project_title %}
      <li class="mdc-list-item" style="padding: 0;">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text"><a href="{{repo.html_url}}">{{ repo.name }}</a></span>
          <span class="mdc-list-item__secondary-text">{{ repo.description }}</span>
          <div class="publication-tags">
            <span class="project-tag">
              <i class="fa-solid fa-star"></i> {{ repo.stargazers_count }}
            </span>
            <span class="project-tag">
              <i class="fa-solid fa-code-fork"></i> {{ repo.forks }}
            </span>
            <span class="project-tag">
              <i class="fa-solid fa-globe"></i> {{ repo.language }}
            </span>
          </div>
        </span>
        <div class="mdc-list-divider"></div>
      </li>
      {% endunless %}
      {% endunless %}
      {% endfor %}
    </ul>

    <!-- Featured Projects -->
    <h3>Personal Projects</h3>
    <p>
      A couple of other side projects that I worked on in my free time. These are mostly small projects that I
      created to learn new technologies or solve a specific problem. Some of them are open-source and available on
      GitHub.
    </p>

    {% include list_projects_featured.html %}

    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <a class="mdc-button mdc-card__action mdc-card__action--button" href="projects/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all projects</span>
        </a>
      </div>
    </div>

    <p>
      If you like my work, please consider supporting me by leaving a star on GitHub or sponsoring me:
    </p>
    <iframe frameborder="0" scrolling="no" src="https://github.com/sponsors/saifkhichi96/button"
        style="position: relative; width: 100%; height: 40px;"></iframe>
</div>

<!-- PWA -->
<script src="{{ site.baseurl }}/assets/scripts/webapp.js"></script>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

  const el = document.createElement('pwa-update');
  document.body.appendChild(el);

</script>
<script>
  function install() {
    const ref = document.getElementById("a2hs");
    if (!ref.getInstalledStatus()) {
      ref.openPrompt();
    } else {
      showSnackbar("You have already installed the app.");
    }
  }
</script>

<!-- Page specific scripts -->
<script async data-cfasync="true" data-color="{{ site.data.manifest.theme_color }}"
  data-description="Support me on Buy me a coffee!" data-id="saifkhichi96" data-message="" data-name="BMC-Widget"
  data-position="Right" data-x_margin="16" data-y_margin="16"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js">
  </script>