---
layout: default
title: Home
seo_title: Portfilio Home
description: Saif Khan is a software engineer and AI researcher. This is a personal blog and work portfolio containing all their projects, research and other work history.
keywords: portfolio, saif khan, software engineer, researcher, projects
drawer: true
github_stats: true
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Muhammad Saif Ullah Khan",
    "givenName": "Muhammad Saif Ullah",
    "familyName": "Khan",
    "alternateName": "Saif Khan",
    "gender": "Male",
    "nationality": "PK",
    "image": "https://www.saifkhichi.com/assets/images/me.jpg",
    "url": "https://www.saifkhichi.com/",
    "jobTitle": "Software Engineer",
    "affiliation": {
      "@type": "Organization",
      "name": "Aspirasoft Technologies",
      "sameAs": [
        "https://aspirasoft.dev/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "National University of Sciences & Technology (NUST)",
      "sameAs": [
        "https://nust.edu.pk/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "Technical University of Kaiserslautern (TUK)",
      "sameAs": [
        "https://www.uni-kl.de/"
      ]
    },
    "worksFor": {
      "@type": "Organization",
      "name": "German Research Centre for Artificial Intelligence (DFKI)",
      "sameAs": [
        "https://www.dfki.de/"
      ]
    },
    "sameAs": [
      "https://saifkhichi.com/resume/",
      "https://scholar.google.com/citations?user=HzyC1ysAAAAJ",
      "https://www.researchgate.net/profile/Muhammad-Saif-Ullah-Khan",
      "https://youtube.com//channel/UCj4yPuKHi9pZ9WbKbfh5MEQ",
      "https://play.google.com/store/apps/dev?id=7722501168179136426",
      "https://stackoverflow.com/users/4690466/",
      "https://www.linkedin.com/in/saifkhichi96",
      "https://github.com/saifkhichi96"
    ]
  }

</script>

<style>
  #services .hire-callout {
    background: #f9f7ff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
  }

  @media (prefers-color-scheme: dark) {
    #services .hire-callout {
      background: #191330;
    }
  }

  #services img {
    width: 100%;
    height: auto;
  }

  .mdc-list-item {
    height: auto;
    padding: 8px 4px;
    border-radius: 8px;
  }

  .mdc-list-item__text:hover {
    background: none;
  }

  .mdc-list-item__secondary-text {
    position: relative !important;
    top: -8px !important;
  }

  .project-tag {
    font-weight: normal;
    line-height: 0;
  }

  pwa-install {
    display: block;
  }

  .main-content article {
    position: relative;
  }

  .main-content header section {
    margin: 0;
  }

  .no-hover:hover {
    cursor: default;
  }

  .info-grid .logo {
    background-image: url('/{{ site.baseurl }}assets/images/banner/home-right.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
    margin-bottom: 8px;
  }

  @media (prefers-color-scheme: dark) {
    .info-grid .logo {
      background-image: url('/{{ site.baseurl }}assets/images/banner/home-right-dark.png');
    }
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }

  .mySlides {
    min-height: 448px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbars: none;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

</style>

<div class="c-major-r">
  <!-- Business Card -->
  <section class="business-card">
    <div class="info-grid">
      <div class="name">
        <p class="title text-uppercase"><span class="light">Saif</span> Khan</p>
      </div>
      <div class="bio">
        <p class="text-uppercase"><b>{{ site.github.owner.bio }}</b></p>
        <hr class="small" style="margin: 0;" />
      </div>
      <div class="logo"></div>
      <div class="email">
        <a class="mdc-button mdc-button--unelevated" href="/resume/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label" style="text-transform: none;">Learn More</span>
        </a>
        <a class="mdc-button mdc-button--outlined" href="#services" style="margin-left: 8px; background-color: var(--mdc-theme-surface);">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label" style="text-transform: none;">Contact Me</span>
        </a>
      </div>
    </div>
  </section>

  <!-- Research Work -->
  <section class="mdc-card mdc-card--outlined">
    <div class="mdc-card__content highlighted">
      <h2>Research Work</h2>
      <p>My research work focuses on using Deep Learning for vision tasks like pose estimation and 3D reconstruction, and optimizing neural networks for deployment on edge devices such as smartphones.</p>
      {% assign research = site.research | sort: "date" | reverse %}
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          {% for item in research %}
          <div class="mdc-layout-grid__cell mdc-card mdc-card--outlined">
            <div class="mdc-card__content">
              <small class="text-uppercase">{{ item.category | first | replace: ",", "" }}</small><br>
              <p><a href="{{ item.url }}">{{ item.title }} ({{ item.date | date: "%Y"}})</a></p>
              {% assign categories = item.category | shift %}
              {% for category in categories %}<span class="project-tag" style="word-wrap: break-word;">{{ category | replace: ",", "" }}</span>
              &nbsp;{% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="mdc-card__actions highlighted">
      <div class="mdc-card__action-icons">
        <button class="mdc-button mdc-card__action mdc-card__action--button" onclick="window.location.href='/research/'">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See details</span>
        </button>
      </div>
    </div>
  </section>

  <!-- Featured Projects -->
  <section class="mdc-card mdc-card--outlined">
    <div class="mdc-card__content">
      <h2>Featured Projects</h2>
      <p>In addition to ML research, I work as a hobbyist software developer with most work in Android app
        development. Some of my featured projects are listed below:</p>
      {% include list_projects_featured.html %}
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <a class="mdc-button mdc-card__action mdc-card__action--button" href="projects/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all projects</span>
        </a>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section id="services">
    <div class="hire-callout">
      <img alt="Open for work" src="{{ site.baseurl }}/assets/images/open-for-work.png" />
      <p>Have a project that needs to be done?<br>
        <small>Do you have a question, feedback or a comment?</small>
      </p>
      <div>
        <a class="mdc-button mdc-button--unelevated" href="/contact/" style="background-color: #f28faa !important;">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label" style="text-transform: none; color: black !important;">Talk to Me</span>
        </a>
      </div>
    </div>
    <br>
    {% assign services = site.services | size %}
    {% if services > 0 %}
    Available for work on projects in the categories listed below.
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        {% for service in site.services %}
        <div class="mdc-layout-grid__cell mdc-card mdc-card--outlined service-item">
          <span class="material-icons">{{ service.icon }}</span>
          <h2>{{ service.title }}</h2>
          <p>{{ service.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <p>
      You can see my <a href="/projects/">past projects</a> to learn more about my work experience related to the
      offered services.<br>
    </p>

  </section>

  <section>
    <p>
      To pay for a completed service, you can either send the invoice amount on <a href="https://www.paypal.com/paypalme/saifkhichi06" target="_blank">PayPal</a> or use <a href="/payments/">this checkout page</a>.
    </p>
  </section>
</div>

<div class="c-minor">
  <!-- GitHub -->
  <section>
    <h2>Dig Deeper</h2>
    <p>Head over to my <a href="{{ site.github.owner.html_url }}" target="_blank">GitHub profile</a>
      to peek behind the scenes. Most of my projects are open-source.</p>

    <p class="text-center">
      <code>
        "Talk is cheap. Show me the code."<br>
        - Linus Torvalds
      </code>
    </p>

    <!-- Contributions widget -->
    {% include widget_github.html %}
    <div class="text-center">
      <br>
      Most Frequently Used Programming Languages on GitHub<br>
      <hr class="small">
      {% assign languages = site.github.public_repositories | map: "language" | compact %}
      {% assign languages = languages | group_by: '.' | sort: 'name' %}
      <p>
        {% for language in languages %}
        <span style="font-size: {{language.size | times: 0.25 | plus: 1}}rem">{{ language.name }}</span>
        {% endfor %}
      </p>
    </div>
    <iframe frameborder="0" scrolling="no" src="https://github.com/sponsors/saifkhichi96/button" style="position: relative; width: 100%; height: 40px;"></iframe>

    <div class="mdc-card mdc-card--outlined">
      <div class="mdc-card__content">
        <h3>My Top-10 Repos</h3>
        <p>Want to contribute? Check out my top-10 repos on GitHub.</p>
        <ul class="mdc-list mdc-list--two-line">
          {% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
          {% for repo in repos limit:10 %}
          {% unless repo.name == site.github.owner.login %}
          {% unless repo.name == site.github.project_title %}
          <li class="mdc-list-item no-hover highlighted">
            <a href="{{repo.html_url}}">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">{{ repo.name }}</span>
                <span class="mdc-list-item__secondary-text">{{ repo.description }}</span>
              </span>
            </a>
            <div class="project-tags">
              <span class="project-tag">
                <i class="material-icons">star</i>{{ repo.stargazers_count }}
              </span>
              <span class="project-tag">
                <i class="material-icons">fork_left</i>{{ repo.forks }}
              </span>
              <span class="project-tag">
                <i class="material-icons">language</i>{{ repo.language }}
              </span>
            </div>
          </li>
          <li class="mdc-list-divider" style="margin: 8px;"></li>
          {% endunless %}
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <!-- Callout Actions -->
  <div>
    <a class="mdc-button" href="https://www.goodreads.com/user/show/26736309-muhammad-saif-ullah-khan" rel="noopener" target="_blank">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label" style="text-transform: none;"><i class="material-icons">auto_stories</i> Reading List</span>
    </a>
  </div>

  <!-- Personal -->
  <section class="mdc-card highlighted" style="border-radius: 8px;">
    <div class="mdc-card__content" style="background-color: {{ site.data.manifest.theme_color }}; color: #ffffff;">
      <h2>Beyond Programming</h2>
      <p>In this section, I share brief glimpses of my hobbies and life outside computers.</p>

      <section class="slideshow-container">

        <div class="mdc-card mdc-card--outlined">
          <!-- Tab Bar -->
          <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
              <div class="mdc-tab-scroller__scroll-area">
                <div class="mdc-tab-scroller__scroll-content">
                  <button class="mdc-tab mdc-tab--active" onclick="currentSlide(1)" role="tab" tabindex="0">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label" style="text-transform: none;">Blog</span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                  <button class="mdc-tab" onclick="currentSlide(2)" role="tab">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label" style="text-transform: none;">Sports</span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                  <button class="mdc-tab" onclick="currentSlide(3)" role="tab">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label" style="text-transform: none;">More</span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Content -->
          <div class="mdc-card__content">
            <!-- Blog -->
            <section class="mySlides fade">
              {% include list_posts.html %}
              <div class="mdc-card__action-icons">
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="/blog/">
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label">See all posts</span>
                </a>
              </div>
            </section>

            <!-- Sports -->
            <section class="mySlides fade">
              <h3>Long-boarding</h3>
              <p>Not exactly the sporty type, but sometimes you have to bend your own rules.</p>
              <div class="embed-container">
                <iframe allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen frameborder="0" src="https://www.youtube.com/embed/videoseries?list=PLV58xS0RVnALMrjZTEsPgKwW23oBqTDpY"
                  title="Saif Goes Long-boarding"></iframe>
              </div>
              <br>
              <p>This playlist shows me trying to learn long-boarding at 25. Better late than never,
                right?</p>
              <h3>Bicycling</h3>
              <p>I use my bicycle to get around town or take occasional trips into the forests and
                mountains around.</p>
              <div class="embed-container">
                <img loading="lazy" alt="Cycling" src="{{ site.baseurl }}/assets/images/cycling.jpg" />
              </div>
            </section>

            <!-- Chess -->
            <section class="mySlides fade">
              <h3>Cooking</h3>
              <p>I like to cook and occasionally bake. Here's a list of my favorite recipes on YouTube.
                Cheers!</p>
              <div class="embed-container">
                <iframe allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen frameborder="0" src="https://www.youtube.com/embed/videoseries?list=PLV58xS0RVnAI32GQ7zFwX9pqAyDiTfKR6" title="My favorite recipes"></iframe>
              </div>
              <p>
                I also sometimes bake cakes and breads.
              </p>

            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<!-- PWA -->
<script src="{{ site.baseurl }}/assets/scripts/webapp.js"></script>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

  const el = document.createElement('pwa-update');
  document.body.appendChild(el);

</script>
<script>
  function install() {
    const ref = document.getElementById("a2hs");
    if (!ref.getInstalledStatus()) {
      ref.openPrompt();
    } else {
      showSnackbar("You have already installed the app.");
    }
  }

  let slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    const slides = document.getElementsByClassName("mySlides");
    const dots = document.getElementsByClassName("mdc-tab");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" mdc-tab--active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " mdc-tab--active";
  }

</script>

<!-- Page specific scripts -->
<script async data-cfasync="true" data-color="{{ site.data.manifest.theme_color }}" data-description="Support me on Buy me a coffee!" data-id="saifkhichi96" data-message="You can support my work by buying me a coffee :-)" data-name="BMC-Widget"
  data-position="Right" data-x_margin="16" data-y_margin="16" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js">
</script>
