---
layout: default
title: Home
seo_title: Portfilio Home
description: Saif Khan is a software engineer and AI researcher. This is a personal blog and work portfolio containing all their projects, research and other work history.
keywords: portfolio, saif khan, software engineer, researcher, projects
drawer: true
github_stats: true
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Muhammad Saif Ullah Khan",
    "givenName": "Muhammad Saif Ullah",
    "familyName": "Khan",
    "alternateName": "Saif Khan",
    "gender": "Male",
    "nationality": "PK",
    "image": "https://www.saifkhichi.com/assets/images/me.jpg",
    "url": "https://www.saifkhichi.com/",
    "jobTitle": "Software Engineer",
    "affiliation": {
      "@type": "Organization",
      "name": "Aspirasoft Technologies",
      "sameAs": [
        "https://aspirasoft.dev/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "National University of Sciences & Technology (NUST)",
      "sameAs": [
        "https://nust.edu.pk/"
      ]
    },
    "alumniOf": {
      "@type": "Organization",
      "name": "Technical University of Kaiserslautern (TUK)",
      "sameAs": [
        "https://www.uni-kl.de/"
      ]
    },
    "worksFor": {
      "@type": "Organization",
      "name": "German Research Centre for Artificial Intelligence (DFKI)",
      "sameAs": [
        "https://www.dfki.de/"
      ]
    },
    "sameAs": [
      "https://saifkhichi.com/resume/",
      "https://scholar.google.com/citations?user=HzyC1ysAAAAJ",
      "https://www.researchgate.net/profile/Muhammad-Saif-Ullah-Khan",
      "https://youtube.com//channel/UCj4yPuKHi9pZ9WbKbfh5MEQ",
      "https://play.google.com/store/apps/dev?id=7722501168179136426",
      "https://stackoverflow.com/users/4690466/",
      "https://www.linkedin.com/in/saifkhichi96",
      "https://github.com/saifkhichi96"
    ]
  }

</script>

<style>
  .mdc-list-item {
    height: auto;
    padding: 8px 4px;
    border-radius: 8px;
  }

  .mdc-list-item__text:hover {
    background: none;
  }

  .mdc-list-item__secondary-text {
    position: relative !important;
    top: -8px !important;
  }

  pwa-install {
    display: block;
  }

  .main-content article {
    position: relative;
  }

  .main-content header section {
    margin: 0;
  }

  .no-hover:hover {
    cursor: default;
  }

  .info-grid .logo {
    background-image: url('/{{ site.baseurl }}assets/images/banner/home-right.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
    margin-bottom: 8px;
  }

  @media (prefers-color-scheme: dark) {
    .info-grid .logo {
      background-image: url('/{{ site.baseurl }}assets/images/banner/home-right-dark.png');
    }
  }

</style>

<div class="c-major-r">
  <!-- Business Card -->
  <section class="business-card">
    <div class="info-grid">
      <div class="name">
        <p class="title text-uppercase"><span class="light">Saif</span> Khan</p>
      </div>
      <div class="bio">
        <p class="text-uppercase"><b>{{ site.data.manifest.tagline }}</b></p>
        <hr class="small" style="margin: 0;" />
      </div>
      <div class="logo"></div>
      <div class="email">
        <a class="mdc-button mdc-button--unelevated" href="/resume/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label" style="text-transform: none;">Learn More</span>
        </a>
        <a class="mdc-button mdc-button--outlined" href="#services" style="margin-left: 8px; background-color: var(--mdc-theme-surface);">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label" style="text-transform: none;">Contact Me</span>
        </a>
      </div>
    </div>
  </section>

  <!-- Research Work -->
  <section class="mdc-card mdc-card--outlined highlighted">
    <div class="mdc-card__content">
      <h2>Research Work</h2>
      <p>My research work focuses on deep learning applications for language and vision tasks including human motion understanding and 3D reconstruction. I am also working on neural network optimization for deployment on edge devices such as smartphones.</p>
      {% assign research = site.research | sort: "date" | reverse %}
      <div class="mdc-layout-grid no-spacing">
        <div class="mdc-layout-grid__inner">
          {% for item in research limit: 6 %}
          <div class="mdc-layout-grid__cell mdc-card mdc-card--outlined">
            <div class="mdc-card__content">
              <small class="text-uppercase">{{ item.category | first | replace: ",", "" }}</small><br>
              <p><a href="{{ item.url }}">{{ item.title }} ({{ item.date | date: "%Y"}})</a></p>
              {% assign categories = item.category | shift %}
              {% for category in categories %}<span class="project-tag" style="word-wrap: break-word;">{{ category | replace: ",", "" }}</span>
              &nbsp;{% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <p style="color: var(--mdc-theme-on-surface)">Showing 6 of {{ research | size }} research projects.</p>
        <button class="mdc-button mdc-card__action mdc-card__action--button" onclick="window.location.href='/research/'">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all</span>
        </button>
      </div>
    </div>
  </section>

  <!-- Featured Projects -->
  <section class="mdc-card mdc-card--outlined">
    <div class="mdc-card__content">
      <h2>Featured Projects</h2>
      <p>In addition to ML research, I work as a hobbyist software developer with most work in Android app
        development. Some of my featured projects are listed below:</p>
      {% include list_projects_featured.html %}
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-icons">
        <a class="mdc-button mdc-card__action mdc-card__action--button" href="projects/">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">See all projects</span>
        </a>
      </div>
    </div>
  </section>
</div>

<div class="c-minor">
  <!-- GitHub -->
  <section>
    <h2>Dig Deeper</h2>
    <p>Head over to my <a href="{{ site.github.owner.html_url }}" target="_blank">GitHub profile</a>
      to peek behind the scenes. Most of my projects are open-source.</p>

    <!-- Contributions widget -->
    {% include widget_github.html %}
    <div class="text-center">
      <br>
      Most Frequently Used Programming Languages on GitHub<br>
      <hr class="small">
      {% assign languages = site.github.public_repositories | map: "language" | compact %}
      {% assign languages = languages | group_by: '.' | sort: 'name' %}
      <p>
        {% for language in languages %}
        <span style="font-size: {{language.size | times: 0.25 | plus: 1}}rem">{{ language.name }}</span>
        {% endfor %}
      </p>
    </div>
    <p>
      <iframe frameborder="0" scrolling="no" src="https://github.com/sponsors/saifkhichi96/button" style="position: relative; width: 100%; height: 40px;"></iframe>
    </p>

    <div class="mdc-card mdc-card--outlined">
      <div class="mdc-card__content">
        <h3>My Top-10 Repos</h3>
        <p>Want to contribute? Check out my top-10 repos on GitHub.</p>
        <ul class="mdc-list mdc-list--two-line">
          {% assign repos = site.github.public_repositories | sort: "stargazers_count" | reverse %}
          {% for repo in repos limit:10 %}
          {% unless repo.name == site.github.owner.login %}
          {% unless repo.name == site.github.project_title %}
          <li class="mdc-list-item" style="background-color: var(--mdc-theme-background);">
            <a href="{{repo.html_url}}">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">{{ repo.name }}</span>
                <span class="mdc-list-item__secondary-text">{{ repo.description }}</span>
                <div class="project-tags">
                  <span class="project-tag">
                    <i class="material-icons">star</i>{{ repo.stargazers_count }}
                  </span>
                  <span class="project-tag">
                    <i class="material-icons">fork_left</i>{{ repo.forks }}
                  </span>
                  <span class="project-tag">
                    <i class="material-icons">language</i>{{ repo.language }}
                  </span>
                </div>
              </span>
            </a>
          </li>
          <li class="mdc-list-divider" style="margin: var(--card-padding);"></li>
          {% endunless %}
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</div>

<!-- PWA -->
<script src="{{ site.baseurl }}/assets/scripts/webapp.js"></script>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';

  const el = document.createElement('pwa-update');
  document.body.appendChild(el);

</script>
<script>
  function install() {
    const ref = document.getElementById("a2hs");
    if (!ref.getInstalledStatus()) {
      ref.openPrompt();
    } else {
      showSnackbar("You have already installed the app.");
    }
  }
</script>

<!-- Page specific scripts -->
<script async data-cfasync="true" data-color="{{ site.data.manifest.theme_color }}" data-description="Support me on Buy me a coffee!" data-id="saifkhichi96" data-message="" data-name="BMC-Widget"
  data-position="Right" data-x_margin="16" data-y_margin="16" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js">
</script>
