{% assign research_by_date = site.research | sort: "date" | reverse %}
{% assign all_items = research_by_date | sort: "date" | reverse %}

<!-- Group by year -->
{% assign grouped_items = all_items | group_by_exp: "item", "item.date | date: '%Y'" %}

<!-- Reverse sort items within each group by date -->
{% for group in grouped_items %}
  {% assign group.items = group.items | sort: "date" | reverse %}
{% endfor %}

<p>
  Showing {{ all_items.size }} research items.
</p>

<!-- Loop over each group and inspect contents -->
{% for group in grouped_items %}
  <h2>{{ group.name }}</h2>
{% for item in group.items %}
{% assign categories = item.categories %}
<section class="publication-container">
  <div class="publication">
    <div class="publication-details">
      <div class="publication-tags">
        {% assign categories = item.categories %}
        {% for category in categories %}
        <span class="publication-tag {% if forloop.first %}primary{% endif %}">{{ category | replace: ",", "" }}</span>
        {% endfor %}
      </div>
      {% assign authors = item.authors | split: ',' %}
      <p class="publication-description">
        {% for author in authors %}
          {% assign last_name = author | split: ' ' | last %}
          {% assign all_names = author | split: ' ' %}
          
          <!-- For each name except the last, get the initial and add to an "initials" variable -->
          {% assign initials = "" %}
          {% for name in all_names %}
            {% unless forloop.last %}
              {% assign initial = name | slice: 0, 1 %}
              {% assign initials = initials | append: ' ' | append: initial | append: "." %}
            {% endunless %}
          {% endfor %}

          <!-- If there is more than one author, add a comma after the last name -->
          {% unless forloop.last %}
            {% assign last_name = last_name | append: "," %}
          {% endunless %}

          <!-- Print the author's name -->
          {{ last_name }}{{ initials }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        ({{ item.date | date: "%Y" }}).
        <a href="{{ item.url | relative_url }}" class="publication-link">{{ item.title }}</a>.
      </p>
    </div>
  </div>
</section>
{% endfor %}

{% endfor %}
