{% assign research_by_date = site.research | sort: "date" | reverse %}
{% assign all_items = research_by_date | sort: "date" | reverse %}

{% for item in all_items %}
{% assign categories = item.categories %}
<section class="publication-container">
  <div class="publication">
    <div class="publication-details">
      <div class="publication-tags">
        {% assign categories = item.categories %}
        {% for category in categories %}
        <span class="publication-tag">{{ category | replace: ",", "" }}</span>
        {% endfor %}
      </div>
      <div class="publication-authors">({{ item.authors | split: ',' | first | split: ' ' | last }} <i>et al.</i>, {{ item.date | date: "%Y" }})</div>
      <a href="{{ item.url | relative_url }}" class="publication-title-link">
        <h2 class="publication-title">{{ item.title }}</h2>
      </a>
      <p class="publication-description">{{ item.description }}</p>
    </div>
  </div>
</section>
{% endfor %}
