---
layout: research
title: Signature Verification
seo_title: Signature Verification
short_title: Signature Verification
description: Report for the Bachelor's thesis about automatic verification of offline signatures, completed at NUST, Pakistan.
abstract: Signature verification is the process of using machine learning methods to validate the authenticity of an individual's signature. Signatures can be of one of the two types; on-line or off-line, and this project focuses on off-line signature verification. Aim of this project is to design an algorithm which can distinguish between genuine and forged signatures using writer independent features, and to develop a system using this algorithm which can be used to verify signatures on bank cheques. We intend to build a complete end-to-end hardware/software system which can be used to acquire signatures from bank cheques, perform signature verification, and display the results. For this purpose, various deep learning techniques were developed and tested on standard datasets for off-line signature verification, as well as on a dataset collected by ourselves.
authors: Muhammad Saif Ullah Khan, Muhammad Mahad Tariq, Bilal Ahmad
category: [Thesis, NUST, Bachelor, Authentication Systems, Biometrics, Signatures]
date: May 2018
demo: i8i6sC14x1c
code: saifkhichi96/versign-core
image: /assets/images/research/signature-verification.png
paper: "https://www.researchgate.net/publication/339299291_Signature_Verification/"
bibtex: "@thesis{khansv2018,
\n  author = {Khan, Muhammad Saif Ullah and Tariq, Muhammad Mahad and Ahmad, Bilal},
\n  year = {2018},
\n  month = {05},
\n  pages = {},
\n  title = {Signature Verification},
\n  doi = {10.13140/RG.2.2.11002.24006/1}
\n}"
syntax: true
permalink: /research/signature-verification/
---
