---
layout: project
title: Signature Verification
description: Signature verification is the process of using machine learning methods to validate the authenticity of an individual's signature. Signatures can be of one of the two types; on-line or off-line, and this project focuses on off-line signature verification. Aim of this project is to design an algorithm which can distinguish between genuine and forged signatures using writer independent features, and to develop a system using this algorithm which can be used to verify signatures on bank cheques. We intend to build a complete end-to-end hardware/software system which can be used to acquire signatures from bank cheques, perform signature verification, and display the results. For this purpose, various deep learning techniques were developed and tested on standard datasets for off-line signature verification, as well as on a dataset collected by ourselves.
authors: Muhammad Saif Ullah Khan, Muhammad Mahad Tariq, Bilal Ahmad, Muhammad Imran Malik
category: [Thesis, Authentication, Biometrics]
date: May 2018
---

[Learn More](https://www.researchgate.net/publication/339299291_Signature_Verification?channel=doi&linkId=60105564a6fdcc071b945e1f&showFulltext=true)
