.material-icons {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  color: inherit !important;
}

a {
  font-weight: inherit;
}

/******************************************************************************/
/* Expreience Section                                                          */
/******************************************************************************/
.experience-item {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
}

.experience-item .content {
  float: left;
  width: calc(100% - 32px);
}

.experience-item .content .details {
  border: 0.5px solid var(--mdc-theme-overlay);
  border-radius: 4px;
  padding: 16px;
  margin-top: 8px;
}

.experience-item .date {
  color: var(--mdc-theme-secondary);
}

.experience-item .name {
  margin: 0px;
}

.experience-item .timeline {
  float: left;
  width: 24px;
  margin-right: 8px;
  text-align: center;
}

.experience-item .timeline .dot {
  color: var(--mdc-theme-secondary-variant);
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.experience-item .timeline .bar {
  background-image: linear-gradient(to bottom, var(--mdc-theme-secondary-variant) 0%, var(--mdc-theme-primary-variant) 100%), radial-gradient(circle at top left, var(--mdc-theme-secondary-variant), var(--mdc-theme-primary-variant));
  width: 2px;
  position: absolute;
  top: 20px;
  bottom: -20px;
  left: 11px;
  z-index: 1;
}

.experience-item .timeline .bar-expanded {
  background-color: var(--mdc-theme-primary-variant);
  width: 28px;
  height: 2px;
  position: absolute;
  top: 18px;
  left: -18px;
  z-index: 100;
}

/******************************************************************************/
/* About Section                                                           */
/******************************************************************************/

.business-card {
  display: flex;
  flex-direction: row;
  border-radius: var(--card-radius);
  width: 100%;
  min-height: 200px;
}

.business-card .info-grid {
  width: 70%;
  text-align: left;
  line-height: 1;
}

.business-card .logo {
  width: 200px;
  height: 200px;
  background-image: url('/assets/images/photos/portrait.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: max(calc(30% - 200px), 16px);
}

.info-grid .name {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
}

.info-grid .tagline {
  width: 100%;
  font-size: 1.5rem;
  font-weight: normal;
}

.info-grid hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 8px;
  margin-bottom: 16px;
  border-color: var(--mdc-theme-primary) !important;
}

.info-grid .description {
  margin-top: 16px;
}

.info-grid .description a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 840px) {
  .info-grid {
    width: 100% !important;
  }

  .business-card .logo {
    display: none;
  }
}

.align-bottom {
  width: 100%;
  padding: 8px 8px 0 8px;
  position: absolute;
  bottom: -32px;
  left: 0;
  z-index: 2;
}

.align-bottom .project-title,
.align-bottom .project-type,
.align-bottom .mdc-icon-button {
  color: #fff;
}

.align-bottom .mdc-icon-button:hover,
.align-bottom .mdc-icon-button:focus {
  color: var(--mdc-theme-primary-variant);
}

#bmc-wbtn {
  z-index: 0 !important;
}

.page-cover, .page-cover::after {
  border-radius: var(--icon-radius);
}

.align-bottom {
  bottom: 0;
}

main {
  background-color: var(--mdc-theme-background);
}

.nav-rail {
  width: 64px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 72px;
  padding-left: 4px;
  bottom: 0;
  background-color: var(--mdc-theme-background);
}

@media print {
  .nav-rail {
    display: none;
  }
}

.nav-rail li>span {
  display: block;
  border-radius: var(--icon-radius);
  margin-bottom: 4px;
  height: 100%;
}

.nav-rail li>span:hover * {
  color: var(--mdc-theme-primary) !important;
  cursor: pointer;
  opacity: 0.75;
}

.nav-rail li>span:hover small {
  font-weight: bold;
}

.nav-rail li.active>span {
  background-color: var(--mdc-theme-overlay);
}

.nav-rail .active *,
.nav-rail .active .material-icons {
  color: var(--mdc-theme-primary) !important;
  font-weight: bold;
}

.page-content {
  background-color: var(--mdc-theme-background);
  margin-left: 72px;
  width: calc(100% - 72px);
  padding: 0 !important;
}

.content-body {
  background-color: var(--mdc-theme-surface);
  margin: 0;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  padding: 32px !important;
  width: 100%;
}

footer {
  padding-top: calc(var(--content-spacing) / 2);
}

.c-major-r section:first-child,
.c-minor-r section:first-child,
.c-major section:first-child,
.c-minor section:first-child {
  margin-top: 0;
}

@media screen and (max-width: 840px) {
  .nav-rail {
    height: auto;
    width: 100%;
    top: auto;
    padding: 4px 0;
    left: 0;
    bottom: 0;
    z-index: 999;
  }

  .nav-rail ul {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-rail ul li {
    display: inline;
  }

  .nav-rail ul li > span {
    display: inline-block;
    width: 32%;
  }

  .nav-rail li.active>span {
    background-color: #0000;
  }

  .nav-rail .hide-when-small {
    display: none;
  }

  .page-content {
    width: 100%;
    margin: 0;
    padding-bottom: 72px;
  }

  .content-body {
    margin: 0;
    border-radius: 0 !important;
  }

  .c-minor {
    margin-top: 16px;
  }

  #bmc-wbtn {
    margin-bottom: 64px;
  }
}

/* Publication styles */
.publication-container {
  border: 1px solid var(--mdc-theme-border);
  border-radius: var(--card-radius);
  background-color: var(--mdc-theme-overlay);
  padding: var(--card-padding);
  width: 100%;
  gap: var(--content-spacing);
}

.publication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.publication-details {
  width: 100%;
  text-align: left;
}

.publication-tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.6rem;
  gap: 4px;
  margin-bottom: 4px;
}

.publication-tag {
  background-color: var(--mdc-theme-surface);
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 4px;
  color: var(--mdc-theme-on-surface);
  font-weight: bold;
  padding: 2px 8px;
  text-transform: uppercase;
}

.publication-tag.primary {
  background-color: var(--mdc-theme-background);
  border: 1px solid var(--mdc-theme-primary);
  border-radius: 4px;
  color: var(--mdc-theme-primary);
  font-weight: bold;
  padding: 2px 8px;
  text-transform: uppercase;
}

.publication-authors {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 4px;
}

.highlighter-yellow {
  background-color: yellow;
  color: black;
}

.highlighter-green {
  background-color: lightgreen;
}

.highlighter-blue {
  background-color: lightblue;
}

.highlighter-red {
  background-color: lightcoral;
  color: black;
}

.publication-title-link {
  color: var(--mdc-theme-on-surface);
  text-decoration: none;
}

.publication-title {
  color: var(--mdc-theme-on-surface);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 4px 0;
}

.publication-description {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.publication-description a {
  font-weight: bold;
}

/** Research interests styles */
.research-interests {
  background-color: var(--mdc-theme-surface);
  border-radius: var(--card-radius);
  padding: 1rem;
  margin-bottom: 1rem;
}

.research-interests h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--mdc-theme-primary);
  text-transform: uppercase;
}

.research-interests ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.research-interests li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 1rem;
  position: relative;
}

.research-interests li:before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--mdc-theme-primary);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.copy-code-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 4px 8px;
  color: whitesmoke;
  opacity: 0.5;
  font-size: 0.8rem;
}

.copy-code-button .material-icons {
  font-size: inherit;
  vertical-align: middle;
}

.copy-code-button:hover {
  opacity: 0.75;
  cursor: pointer;
}

pre {
  padding: 0 !important;
  margin: 0;
  border: 1px solid var(--mdc-theme-border);
}

pre code {
  padding: 0;
  margin: 0 !important;
  width: 100%;
  border: 1px solid var(--mdc-theme-on-surface) !important;
}