---
layout: default
---

<style>
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
  margin-bottom: 1rem;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>

<!-- Page Content -->
<div class="c-major-r">
  <!-- Overview -->
  <section>
    <h2>{{ page.title }}</h2>
    {% if page.slides %}
    <div class="iframe-container">
      <iframe class="responsive-iframe" src="https://docs.google.com/presentation/d/e/{{page.slides}}/embed" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    {% endif %}

    <p><em>{{ page.abstract }}</em></p>
  </section>

  <!-- Media -->
  {% if page.demo %}
  <section class="embed-container">
    <iframe src="https://www.youtube-nocookie.com/embed/{{ page.demo }}?controls=0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </section>
  {% elsif page.image %}
  {% if page.image contains '://' %}
  {% assign image_url = page.image %}
  {% else %}
  {% assign image_url = page.image | relative_url %}
  {% endif %}
  <section>
    <img loading="lazy" class="project-portfolio-img" src="{{ image_url }}" alt="{{ page.title }}" />
  </section>
  {% endif %}

  {{ content }}
</div>

<aside class="c-minor">
  <!-- Related Research -->
  {% if page.related and page.related.size > 0 %}
  {% assign all_research = site.research | sort: "date" | reverse %}
  {% if all_research.size > 0 %}
  {% for item in all_research %}
  {% assign item_path = item.path | split: "." %}
  {% assign item_path = item_path[0] | split: "/" %}
  {% if page.related contains item_path[-1] %}
  <div class="mdc-list-item">
    <span class="mdc-list-item__text">
      <a href="{{ item.url }}">{{ item.title }} ({{ item.date | date: "%Y"}})</a>
      {% assign categories = item.category | shift %}
      {% for category in categories %}<span class="project-tag" style="word-wrap: break-word;">{{ category | replace: ",", "" }}</span> &nbsp;{% endfor %}
    </span>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endif %}

  <!-- Authors-->
  {% if page.authors %}
  <section>
    <h2>Authors</h2>
    <div class='mdc-list'>
      {% assign authors = page.authors | split: ',' %}
      {% for author in authors %}
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">
          <span class="material-icons" style="background: #8884; vertical-align: middle; font-size: 20pt; line-height: 20pt; border-radius: 24px; padding: 4px; margin-right: 4px;">person</span>
          {{ author }}
        </span>
      </li>
      <br>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <!-- Source Code -->
  {% if page.code %}
  <section>
    <h2>Source Code</h2>
    {% include widget_github_repo.html repo=page.code %}
  </section>
  {% endif %}
  
  <!-- Comments -->
  {% include disqus.html %}

  <!-- Report Issues/Contribute -->
  {% include widget_feedback.html %}
</aside>

<script>
  $(function() {
    $('.content-body ol').addClass('mdc-list');
    $('.content-body ol li').each(function(index) {
      $(this).addClass('mdc-list-item');
      $(this).html('<span class="mdc-list-item__text">' + $(this).text() + '</span>');
    });

    $('.content-body ul').addClass('mdc-chip-set');
    $('.content-body ul li').each(function(index) {
      $(this).addClass('mdc-chip');

      var html = "<div class='mdc-chip__ripple'></div><span role='gridcell'>"
      html += "<span role='button' class='mdc-chip__primary-action><span class='mdc-chip__text'>"
      $(this).html(html + $(this).text() + '</span></span>');
    });

    $('.highlighter-rouge').each(function(index) {
      var pre = $(this);
      var code = $(this).find('code');

      var classList = pre.attr('class').split(/\s+/);
      $.each(classList, function(i, item) {
        if (item.startsWith('language-')) {
          code.addClass(item.substring(9));
        }
      });

      $(this).removeClass();
      $(this).children().removeClass();
      $(this).find('pre').removeClass();
    });
  })

</script>
